<div class="contact-section">
  <div class="contact-infomation-text">
    <h2 class="contact-header">{{contactHeader}}</h2>
  </div>
    <div class="steps-section">
      <div class="step-card">
        <h4>{{contactSubheader}}</h4>
        <div class="contact-form-section">
          <app-contact-form placement="landing"></app-contact-form>
        </div>
        <p>lub</p>
        <h4>Skontaktuj się</h4>
        <div class="contact-info">
          <div class="phone-number">
            <i class="fas fa-phone"></i>
            <a href="tel:459119894" class="phone-link">459 119 894</a>
          </div>
          <div class="email-adress">
            <i class="fas fa-envelope"></i>
            <p>akademia&#64;alawroc.pl</p>
          </div>
        </div>


      </div>
    </div>
  </div>