.info-section {
    display: flex;
    justify-content: center;
}

.info-section .info-card {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    width: 500px;
    border: 1px solid #e2e2e2;
}

.info-section .info-question {
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.info-section .info-answer,
.info-section .second-info-answer {
    font-size: 1.2rem;
    color: #333333;
    margin-bottom: 0px;
}

.info-section .second-info-answer {
    margin-top: 5px;
}

@media (max-width: 767px) {
    .info-section {
        margin-top: 85px;
    }
    .info-section .info-card {
        padding: 20px;
    }
}