.info-section {
    display: flex;
    justify-content: center;
    margin-top: 125px;
}

.info-section .info-text {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px;
} 

@media (max-width: 767px) {
    .info-section {
        margin-top: 100px;
    }
}