<div class="contact-section" *ngIf="!isSubmitted">
  <h2 class="contact-header">Potwierdź bezpłatny trening próbny!</h2>
  <form [formGroup]="form" class="steps-section">
    <div class="step-card">
      <h4>1. Wybierz dzień</h4>
      <p>Powiedz nam w jaki dzień chciałbyś skorzystać z bezpłatnego treningu próbnego</p>
      <div class="datepicker">
        <app-date-picker (dateSelected)="onDateSelected($event)"></app-date-picker>
      </div>
      <div *ngIf="wasButtonClicked && form.get('trainingDay')?.invalid" class="error" [ngStyle]="{ 'color': 'red', 'margin-top': 0 }">Wybierz dzień</div>
    </div>
    <div class="step-card">
      <h4>2. Podaj imię dziecka</h4>
      <p>Ułatwi to trenerowi rozpoznanie dziecka i przygotowanie się na spotkanie.</p>
      <div class="contact-info">
        <input type="text" formControlName="firstName" class="to-highlight" placeholder="Imię dziecka">
      </div>
      <div *ngIf="wasButtonClicked && form.get('firstName')?.invalid" class="error" [ngStyle]="{ 'color': 'red', 'margin-top': 0, 'margin-bottom': '20px' }">Podaj imię dziecka</div>
    </div>
    <button (click)="informAboutClick()" class="button" type="submit">Potwierdzam</button>
    <div *ngIf="isSuccess" class="success">Do zobaczenia na treningu!</div>
    <div *ngIf="isError" class="error">Wystąpił błąd podczas wysyłania.</div>
  </form>
</div>
<div class="thank-you-message" *ngIf="isSubmitted && isSuccess && !isError">
  <h2>Dziękujemy, do zobaczenia na treningu!</h2>
  <div class="contact-info">
          <div class="phone-number">
            <i class="fas fa-phone"></i>
            <a href="tel:459119894" class="phone-link">459 119 894</a>
          </div>
          <div class="email-adress">
            <i class="fas fa-envelope"></i>
            <p>akademia&#64;alawroc.pl</p>
          </div>
        </div>
  <div class="location-section">
    <p>Treningi odbywają się na bieżni przy Szkole Podstawowej nr 91. Od listopada do marca zajęcia prowadzone są na sali.</p>
    <p class="street-name"><b>Ul. Stefanii Sempołowskiej 54</b></p>
    <div class="google-map">
      <iframe width="600" height="450" style="border:0" load="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJk4cUeQHoD0cRx8d7Ix0Md5I&key=AIzaSyBEWXoAj03am_fiFUN9Qw8bILB8NYD86H8"></iframe>
    </div>
  </div>
</div>