.footer-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 1px solid #ccc;
    max-height: 150px;
    margin-top: 275px;
    margin-bottom: 125px;
}

.footer-section .ala-logo {
    margin: 0;
    max-height: 225px;
}

.footer-section .company-info {
    margin-top: 25px;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    gap: 30px;
}

.footer-section p {
    margin: 0;
    text-align: center;
}

@media (max-width: 767px) {
    .footer-section {
        margin-top: 200px;
    }
}

.privacy-policy {
    margin-top: 10px;
}

.privacy-policy a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: 10px;
    transition: color 0.3s, border-bottom 0.3s;
    position: relative;
  }
  
  .privacy-policy a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    left: 50%;
    bottom: -3px;
    background-color: #e2635d;
    transition: width 0.3s, left 0.3s;
  }
  
  .privacy-policy a:hover::after {
    width: 100%;
    left: 0;
  }
  
  .privacy-policy a.active-link::after {
    width: 100%;
    left: 0;
  }