<div class="landing-page-hero">
    <div class="header-section">
      <h1 class="header">Rozwijamy pasję <br /> dzieci do sportu</h1>
      <p class="subheader">Naszą misją jest zachęcanie dzieci do aktywności fizycznej i kształtowanie ich charakteru, jednocześnie ucząc je czerpania radości ze sportu.</p>
      <div class="button">
        <button (click)="onButtonClick()">Wypróbuj bezpłatnie</button>
      </div>
    </div>
    <div class="image-section">
      <img class="image" src="./assets/hero-image.jpg">
    </div>
  </div>