.landing-page-hero {
    display: flex;
    gap: 60px;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.landing-page-hero .header-section {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 400px;
}

.landing-page-hero .header-section .header {
    font-size: 2.5rem;
}

.landing-page-hero .header-section .subheader {
    font-size: 1.1rem;
}

.landing-page-hero .header-section .button {
    margin-top: 30px;
}

.landing-page-hero .header-section button {
    font-size: 1.3rem;
    letter-spacing: 1px;
    padding: 13px 20px 13px;
    outline: 0;
    border: 1px solid black;
    cursor: pointer;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    color: black;
}

.landing-page-hero .header-section button:after {
    content: "";
    width: 100%;
    z-index: -1;
    position: absolute;
    height: 100%;
    top: 7px;
    left: 7px;
    transition: 0.2s;
}

.landing-page-hero .header-section button:hover:after {
    top: 0px;
    left: 0px;
}

@media (max-width: 768px) {
    .landing-page-hero .header-section button {
        background-color: #e2635d;
    }
}

@media (min-width: 768px) {
    .landing-page-hero .header-section button {
        padding: 13px 50px 13px;
    }

    .landing-page-hero .header-section button:after {
        background-color: #e2635d;
    }
}

.landing-page-hero .image-section {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.landing-page-hero .image-section .image {
    max-height: 500px;
    width: 100%;
    height: auto;
}

@media (max-width: 1100px) {
    .landing-page-hero {
        padding: 0 30px;
    }

    .landing-page-hero .header-section {
        text-align: center;
    }

    .landing-page-hero .image-section {
        display: none;
    }
}