<div class="landing-page-hero">
    <div class="header-section">
      <h1 class="header">Lekkoatletyka dla dzieci we Wrocławiu</h1>
      <p class="subheader">Na naszych zajęciach sportowych łączymy trening, diagnostykę i regularne pomiary, tworząc kompleksowy program rozwoju motorycznego dzieci.</p>
      <div class="button">
        <button class="sign-up-button" (click)="acknowledgeButtonClick()" [routerLink]="['/zapisy']">Wypróbuj bezpłatnie</button>
      </div>
    </div>
    <div class="image-section">
      <img class="image" src="./assets/hero-image.jpg">
    </div>
  </div>
