.contact-form .child-age-input {
  margin-top: 10px;
}

.contact-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: inherit;

}

.contact-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: inherit;
}

.contact-form input::placeholder {
  text-align: center;
}

.contact-form .to-highlight:hover {
  border-color: #e2635d;
    outline: none;
}

.contact-form .to-highlight:focus {
  border-color: #e2635d;
  box-shadow: 0 0 8px rgba(226, 99, 93, 0.5);
  outline: none;
}

.contact-form option {
  text-align: center;
}


.contact-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #e2635d;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: inherit;
  margin-top: 15px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #999;
}

.contact-form button:hover {
  background-color: #be514b;
}

.contact-form .rodo-container {
  margin: 10px 0;
}

.contact-form .rodo-container input {
  margin-top: 15px;
  transform: scale(1.4);
  accent-color: #e2635d;
}

.contact-form .rodo-container label {
  font-size: 0.8rem;
}

.contact-form .rodo-container label::before {
  content: '*';
  color: red;
  margin-right: 5px;
}

.thank-you-message {
  background-color: #f0f8ff;
  border: 1px solid #90ee90;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}

.thank-you-message p {
  color: #008000;
  font-size: 0.9rem;
  margin: 0;
}

