
.contact-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: inherit;

}

.contact-form input::placeholder {
  text-align: center;
}


.contact-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: inherit;
  margin-top: 15px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #999;
}

.contact-form button:hover {
  background-color: #0056b3;
}

.contact-form .rodo-container {
  margin: 10px 0;
}

.contact-form .rodo-container input {
  margin-top: 15px;
  transform: scale(1.4);
}

.contact-form .rodo-container label {
  font-size: 0.8rem;
}

.contact-form .rodo-container label::before {
  content: '*';
  color: red;
  margin-right: 5px;
}