<ng-container *ngIf="!isSubmited">
  <div class="contact-form">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">

      <div class="contact-info">
        <label for="contact">Numer telefonu lub adres e-mail:</label>
        <input type="text" formControlName="contact" id="contact">
        <div *ngIf="form.get('contact')!.invalid && wasButtonClicked">
          <div *ngIf="form.get('contact')!.errors?.['invalidContact']">
            <p [ngStyle]="{ 'color': 'red', 'margin-top': 0, 'margin-bottom': '20px' }">Nieprawidłowy numer lub adres e-mail</p>
          </div>
        </div>
      </div>

      <label for="childAge">Wiek dziecka:</label>
      <select id="childAge" formControlName="childAge">
        <option value="" disabled selected></option>
        <option *ngFor="let age of ages" [value]="age">{{ age }}</option>
      </select>
      <div *ngIf="!form.get('childAge')!.valid && wasButtonClicked">
        <p [ngStyle]="{ 'color': 'red', 'margin-top': 0, 'margin-bottom': '20px' }">Proszę zaznaczyć wiek dziecka</p>
      </div>

      <div *ngIf="form.get('contact')!.valid && form.get('childAge')!.valid" class="rodo-container">      
        <label for="rodo">
          Wyrażam zgodę na przetwarzanie moich danych osobowych podanych w powyższym formularzu w celu kontaktu przez Akademię Lekkiej Atletyki Wrocław sp. z o.o. oraz przez podmioty trzecie.
        </label>
        <input type="checkbox" id="rodo" formControlName="rodo">
      </div>

      <div *ngIf="canDisplayRodoReminder">
        <div *ngIf="form.get('rodo')!.invalid">
          <p [ngStyle]="{ 'color': 'red', 'margin-top': 0, 'margin-bottom': '20px' }">Zaakceptuj zgodę</p>
        </div>
      </div>

      <button type="submit" (click)="informAboutClick()">Proszę o kontakt</button>
    </form>
  </div>
</ng-container>
<div *ngIf="isSubmited" class="thank-you-message">
  <p>Twój formularz został wysłany. Skontaktujemy się z Tobą w ciągu najbliższych dni.</p>
</div>
