<div class="location-section">
    <div class="location-header">
      <h2>Lokalizacja</h2>
    </div>
    <p>Treningi odbywają się na bieżni przy Szkole Podstawowej nr 91. Od listopada do marca zajęcia prowadzone są na sali.</p>
    <p class="street-name"><b>Ul. Stefanii Sempołowskiej 54</b></p>
    <div class="google-map">
      <iframe width="600" height="450" style="border:0" load="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJk4cUeQHoD0cRx8d7Ix0Md5I&key=AIzaSyBEWXoAj03am_fiFUN9Qw8bILB8NYD86H8"></iframe>
    </div>

    <ng-container *ngIf="placement === 'subpage'">
      <p class="second-map-description">Wejście od ulicy Piotra Norblina (na bieżnię):</p>
      <div class="google-map">
        <iframe width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"src="https://www.google.com/maps/embed?pb=!4v1720870513671!6m8!1m7!1sZXCZOhg2fLbum0L3Ie0Xbw!2m2!1d51.10285799771516!2d17.10929768880831!3f354.53224621202025!4f-1.3548564065376212!5f1.5077024739559617"></iframe>
      </div>

      <p class="second-map-description">Wejście od ulicy Stefanii Sempołowskiej (na salę):</p>
      <div class="google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!4v1720872061551!6m8!1m7!1sf-sNb_gAOcyQr-eZvUgBlQ!2m2!1d51.1027760885261!2d17.11025900871237!3f358.49542865447285!4f-0.01289436942182931!5f1.543477489944903" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </ng-container>
  </div>
