<div class="location-section">
    <div class="location-header">
      <h2>Lokalizacja</h2>
    </div>
    <p>Treningi odbywają się na bieżni przy Szkole Podstawowej nr 91.</p>
    <p class="street-name"><b>Ul. Stefanii Sempołowskiej 54</b></p>
    <div class="google-map">
      <iframe width="600" height="450" style="edge:0"load="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJk4cUeQHoD0cRx8d7Ix0Md5I&key=AIzaSyBEWXoAj03am_fiFUN9Qw8bILB8NYD86H8"></iframe>
    </div>
  </div>