<div class="features-section">
    <div class="feature-card">
      <h4>Już od 5 roku życia</h4>
      <p>Wiemy, jak ważny jest rozwój młodych zawodników. Kształtowanie pewnych cech motorycznych jest szczególnie skuteczne w wieku dziecięcym. Dajemy dzieciom szansę na rozwinięcie pełnego potencjału poprzez wczesne zapoznanie ze sportem.</p>
    </div>
    <div class="feature-card">
      <h4>Indywidualne podejście</h4>
      <p>Tworząc przyjazną atmosferę, wspieramy najmłodszych w ich rozwoju. Każde dziecko znajdzie u nas swoje miejsce oraz będzie mogło czuć się docenione, niezależnie od poziomu zaawansowania.</p>
    </div>
    <div class="feature-card">
      <h4>Treningi poprzez zabawę</h4>
      <p>Zachęcamy dzieci do ruchu poprzez gry i zabawy. Dzięki swojej różnorodności lekkoatletyka sprawdza się do tego idealnie. W ten sposób dzieci budują zdrowy tryb życia, jednocześnie dobrze się przy tym bawiąc.</p>
    </div>
  </div>