<header>
    <h1>Polityka Prywatności</h1>
</header>
<main>
    <section>
        <h2>§1. Informacje podstawowe</h2>
        <p>
            Niniejsza Polityka Prywatności określa zasady przetwarzania danych osobowych użytkowników strony internetowej alawroc.pl, prowadzonej przez Akademię Lekkiej Atletyki Sp. z o. o.
            Akademia Lekkiej Atletyki Wrocław Sp. z o.o. dokłada wszelkich starań, aby chronić prywatność i dane osobowe użytkowników zgodnie z obowiązującymi przepisami prawa, w szczególności z Rozporządzeniem Parlamentu Europejskiego i Rady (UE) 2016/679 z dnia 27 kwietnia 2016 r. (RODO).
        </p>
    </section>

    <section>
        <h2>§2. Administrator danych</h2>
        <p>
            Administratorem Twoich danych osobowych jest Akademia Lekkiej Atletyki Wrocław Sp. z o.o. Al. Marcina Kromera 51A, 51-163 Wrocław, zarejestrowana w Sądzie Rejonowym dla Wrocławia-Fabrycznej, VI Wydział Gospodarczy Krajowego Rejestru Sądowego, pod numerem KRS 0001095918, NIP 8952270656.
        </p>
        <p>Kontakt z administratorem jest możliwy za pośrednictwem poczty e-mail: <a href="mailto:wroclawala@gmail.com">wroclawala&#64;gmail.com</a>.</p>
    </section>

    <section>
        <h2>§3. Zasady przetwarzania danych osobowych</h2>
        <ul>
            <li>w oparciu o podstawę prawną i zgodnie z prawem,</li>
            <li>z dbałością o bezpieczeństwo danych,</li>
            <li>dane są zbierane i wykorzystywane wyłącznie w określonych, wyraźnych i uzasadnionych celach,</li>
            <li>przetwarzane są wyłącznie te dane, które są niezbędne do realizacji określonych celów,</li>
            <li>osoby, których dane są przetwarzane, są jasno informowane o sposobie, celach i podstawach przetwarzania.</li>
        </ul>
        <p>
            Administrator zastrzega sobie prawo do wprowadzania zmian w obowiązującej polityce prywatności, o czym użytkownik będzie informowany za pomocą wiadomości email.
        </p>
    </section>

    <section>
        <h2>§4. Dane Osobowe Przetwarzane na Stronie</h2>
        <p>Administrator może przetwarzać następujące dane osobowe użytkowników:</p>
        <ul>
            <li>adres e-mail,</li>
            <li>numer telefonu,</li>
            <li>dane dotyczące wyboru grupy zajęciowej,</li>
            <li>informacje zawarte w wiadomościach wysyłanych za pośrednictwem formularzy kontaktowych.</li>
        </ul>
    </section>

    <section>
        <h2>§5. Cele, podstawy prawne i zakres przetwarzania danych</h2>
        <p><strong>Cele przetwarzania danych:</strong></p>
        <ul>
            <li>kontakt z użytkownikiem,</li>
            <li>realizacja usług,</li>
            <li>marketing bezpośredni,</li>
            <li>cele techniczne przy użyciu cookies.</li>
        </ul>
        <p><strong>Podstawy prawne przetwarzania danych zgodnie z RODO:</strong></p>
        <ul>
          <li>Zgoda użytkownika (art. 6 ust. 1 lit. a RODO),</li>
          <li>Realizacja umowy (art. 6 ust. 1 lit. b RODO),</li>
          <li>Uzasadniony interes administratora (art. 6 ust. 1 lit. f RODO).</li>
        </ul>
    </section>

    <section>
        <h2>§6. Odbiorcy danych oraz przekazywanie danych</h2>
        <p>Odbiorcami danych mogą być:</p>
        <ul>
          <li>Podmioty odpowiedzialne za dostarczanie oprogramowania do zarządzania cookies,</li>
          <li>Partnerzy reklamowi (np. Facebook, Google), jeśli użytkownik wyraził zgodę na cookies marketingowe,</li>
          <li>Dostawcy analityczni (np. Google Analytics) – w przypadku cookies analitycznych.</li>
        </ul>
        <p>Dane mogą być przekazywane do podmiotów spoza EOG, takich jak:</p>
        <ul>
          <li>Google LLC z siedzibą w USA (Google Analytics, Ads, Maps, Search Console),</li>
          <li>Meta Platforms Inc. (Facebook) z siedzibą w USA (zarządzanie kontami, reklamy, API).</li>
        </ul>
      </section>
    
      <section>
        <h2>§7. Okres przechowywania danych</h2>
        <p>Dane są przechowywane:</p>
        <ul>
          <li>Przez okres niezbędny do realizacji celów,</li>
          <li>Przez czas wymagany przepisami prawa,</li>
          <li>Do momentu wycofania zgody przez użytkownika.</li>
        </ul>
      </section>
    
      <section>
        <h2>§8. Prawa użytkownika</h2>
        <p>Użytkownik ma prawo do:</p>
        <ul>
          <li>Dostępu do swoich danych oraz ich sprostowania, usunięcia lub ograniczenia przetwarzania,</li>
          <li>Przenoszenia danych do innego administratora,</li>
          <li>Wniesienia sprzeciwu wobec przetwarzania danych,</li>
          <li>Cofnięcia zgody na przetwarzanie danych,</li>
          <li>Wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych.</li>
        </ul>
        <p>Więcej informacji: <a href="https://uodo.gov.pl">www.uodo.gov.pl</a></p>
      </section>
</main>
