.top-bar {
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  background-color: white;
  border-bottom: 1px solid #ccc;
  z-index: 1000;
}

.top-bar .top-bar-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 10px 25px;
}

.top-bar .top-bar-content .logo-container {
  display: flex;
  align-items: center;
  margin: 0 5px;
}

.top-bar .top-bar-content .logo-container a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo-container p {
  text-align: center;
}

.top-bar .top-bar-content .logo-container .logo {
  align-self: center;
  width: 60px;
  height: auto;
  margin-right: 30px;
}

.top-bar .nav-items {
  display: flex;
  gap: 40px;
}

.top-bar .nav-items a {
  text-decoration: none;
  color: inherit;
}

.top-bar .contact-info {
  display: flex;
  gap: 20px;
}

.top-bar .contact-info p {
  margin: 0;
}

.top-bar .top-bar-content .mobile-menu-icons {
  display: none;
}

.top-bar .mobile-nav-items {
  display: none;
}

@media (max-width: 767px) {
  .top-bar {
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
  }

  .top-bar .top-bar-content {
    align-items: center;
    padding: 10px 35px;
    display: flex;
    justify-content: center;
  }

  .top-bar .contact-info {
    text-align: center;
  }

  .top-bar .contact-info p {
    display: none;
  }

  .top-bar .top-bar-content .logo-container .logo {
    padding: 0 20px;
    margin-right: 10px;
  }

  .top-bar .top-bar-content .nav-items {
    display: none;
  }

  .top-bar .top-bar-content .mobile-menu-icons {
    display: block;
    cursor: pointer;
    font-size: 26px;
    padding: 0 20px;
  }

  .top-bar .mobile-nav-items {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 75%;
    max-width: 300px;
    height: 100%;
    background-color: white;
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999;
  }

  .top-bar .mobile-nav-items a {
    padding: 14px 16px;
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 17px;
    display: block;
    border-bottom: 1px solid #eee;
  }

  .top-bar .mobile-nav-items.open {
    transform: translateX(0);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);

  }
}
