<div class="top-bar">
  <div class="top-bar-content">
    <div class="logo-container">
      <a routerLink="/" aria-label="Home">
        <img class="logo" src="assets/logo-ala.svg" alt="logo">
        <p>Akademia Lekkiej Atletyki Wrocław</p>
      </a>
    </div>
    <div class="nav-items">
      <a routerLink="/lokalizacja">Lokalizacja</a>
      <a routerLink="/zapisy">Zapisy</a>
      <a routerLink="/cennik">Cennik</a>
      <!-- <a routerLink="/trenerzy">Trenerzy</a> -->
      <a routerLink="/zajecia">Zajęcia</a>
      <a routerLink="/artykuly">Artykuły</a>
    </div>
    <div class="contact-info">
      <p><i class="fas fa-phone"></i> +48 570 417 942</p>
      <p><i class="fas fa-phone"></i> +48 734 163 242</p>
    </div>
    <div class="mobile-menu-icons">
      <i class="fas fa-bars" *ngIf="!isMobileMenuOpen" (click)="showMobileMenu()"></i>
      <i class="fas fa-times" *ngIf="isMobileMenuOpen" (click)="closeMobileMenu()"></i>
    </div>
  </div>
  <div class="mobile-nav-items" [class.open]="isMobileMenuOpen">
    <a routerLink="/" (click)="closeMobileMenu()" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Strona główna</a>
    <a routerLink="/lokalizacja" (click)="closeMobileMenu()" routerLinkActive="active-link">Lokalizacja</a>
    <a routerLink="/zapisy" (click)="closeMobileMenu()" routerLinkActive="active-link">Zapisy</a>
    <a routerLink="/cennik" (click)="closeMobileMenu()" routerLinkActive="active-link">Cennik</a>
    <!-- <a routerLink="/trenerzy" (click)="closeMobileMenu()" routerLinkActive="active-link">Trenerzy</a> -->
    <a routerLink="/zajecia" (click)="closeMobileMenu()" routerLinkActive="active-link">Zajęcia</a>
    <a routerLink="/artykuly" (click)="closeMobileMenu()" routerLinkActive="active-link">Artykuły</a>
  </div>
</div>
