<div class="top-bar-section">
  <app-top-bar></app-top-bar>
</div>
<div class="landing-page-container">
  <app-hero (scrollToTarget)="scrollToSteps()"></app-hero>
  <app-features-section></app-features-section>
  <app-info-card header="Jak wyglądają zajęcia?" info="Zajęcia mają formę ogólnorozwojowych treningów z elementami lekkiej atletyki. W ich trakcie dzieci rozwijają swoje zdolności motoryczne oraz budują prawidłowe wzorce ruchowe."></app-info-card>
  <app-contact id="stepsToJoin"></app-contact>
  <app-info-card header="Kiedy mogę przyjść na trening?" info="Treningi odbywają się w poniedziałki i środy o godzinie 17:30 (roczniki 2017-2019) i 18:30 (roczniki 2014-2016)."></app-info-card>
  <app-location></app-location>
  <app-info-card header="Ile kosztują zajęcia?" info="Koszt zajęć wynosi 185 zł miesięcznie za dwa treningi w tygodniu lub 125 zł miesięcznie za jeden trening w tygodniu."></app-info-card>
  <app-footer></app-footer>
</div>
