<div class="landing-page-hero">
  <div class="header-section">
    <h1 class="header">Rozwijamy pasję <br /> dzieci do sportu</h1>
    <p class="subheader">Naszą misją jest zachęcenie dzieci do aktywności fizycznej i kształtowanie ich charakteru, jednocześnie ucząc ich czerpania radości ze sportu.</p>
    <div class="button">
      <button (click)="scrollToElement()">Zapisz dziecko</button>
    </div>
  </div>
  <div class="image-section">
    <img class="image" src="/assets/hero-image.jpg">
  </div>
</div>
<div class="features-section">
  <div class="feature-card">
    <h4>Już od 5 roku życia</h4>
    <p>Wiemy, jak ważny jest rozwój dziecka od najmłodszych lat. Kształtowanie niektórych cech jest możliwe tylko w wieku dziecięcym. Dajemy dzieciom szansę na rozwój ich pełnego potencjału poprzez wczesne zapoznanie ze sportem.</p>
  </div>
  <div class="feature-card">
    <h4>Elastyczny harmonogram</h4>
    <p>Treningi odbywają się w codziennie od poniedziałku do czwartku. Każdy zawodnik ma do wyboru dwa dni treningowe. W przypadku braku możliwości uczestnictwa w danym dniu, możliwe jest wzięcie udziału w zajęciach w innym terminie.</p>
  </div>
  <div class="feature-card">
    <h4>Treningi poprzez zabawę</h4>
    <p>Zachęcamy dzieci do ruchu poprzez gry i zabawy. Dzięki swojej różnorodności, lekkoatletyka sprawdza się do tego idealnie. W ten sposób dzieci budują zdrowy tryb życia, jednocześnie dobrze się przy tym bawiąc..</p>
  </div>
</div>
<div class="contact-section">
  <h2 class="contact-header" id="targetElement">Trzy kroki aby dołączyć do Akademi Lekkiej Atletyki!</h2>
  <div class="steps-section">
    <div class="step-card">
      <h4>1. SKONTAKTUJ SIĘ Z NAMI</h4>
      <p>Zadzwoń lub napisz - z chęcią odpowiemy na wszystkie pytania.</p>
      <div class="contact-info">
        <p><i class="fas fa-phone"></i> 123456789</p>
        <p><i class="fas fa-envelope"></i> testgmail.com</p>
      </div>
    </div>
    <div class="step-card">
      <h4>2. PRZYJDŹ NA TRENING</h4>
      <p>Przyjdź z dzieckiem na bezpłatny trening próbny. Twoje dziecko będzie miało szansę sprawdzić, czy zajęcia się mu podobają.</p>
    </div>
    <div class="step-card">
      <h4>3. WYPEŁNIJ DOKUMENTY</h4>
      <p>Wypełnij dokumenty. Gratulacje, twoje dziecko należy do Akademi Lekkiej Atletyki Wrocław!</p>
    </div>
    <img src="/assets/logo-ala.png">
  </div>
</div>
