<div class="top-bar">
  <div class="top-bar-content">
    <div class="logo-container">
      <img class="logo" src="./assets/logo-ala.png" alt="Logo firmy">
      <p>Akademia Lekkiej Atletyki Wrocław</p>
    </div>
    <div class="contact-info">
      <p><i class="fas fa-phone"></i> +48 123 456 789</p>
      <p><i class="fas fa-phone"></i> +48 123 456 789</p>
    </div>
  </div>
</div>

<div class="landing-page-hero">
  <div class="header-section">
    <h1 class="header">Rozwijamy pasję <br /> dzieci do sportu</h1>
    <p class="subheader">Naszą misją jest zachęcenie dzieci do aktywności fizycznej i kształtowanie ich charakteru, jednocześnie ucząc je czerpania radości ze sportu.</p>
    <div class="button">
      <button (click)="scrollToElement()">Zapisz dziecko</button>
    </div>
  </div>
  <div class="image-section">
    <img class="image" src="./assets/hero-image.jpg">
  </div>
</div>

<div class="features-section">
  <div class="feature-card">
    <h4>Już od 5 roku życia</h4>
    <p>Wiemy, jak ważny jest rozwój młodych zawodników. Kształtowanie pewnych cech motorycznych jest możliwe tylko w wieku dziecięcym. Dajemy dzieciom szansę na rozwinięcie pełnego potencjału poprzez wczesne zapoznanie ze sportem.</p>
  </div>
  <div class="feature-card">
    <h4>Elastyczny harmonogram</h4>
    <p>Na początku wybierzesz dwa dni w tygodniu, w które twoje dziecko będzie uczęszczało na treningi. Nie możesz przyjść z powodu nieprzewidzianych okoliczności? Nie ma problemu! Możesz skorzystać z innego terminu.</p>
  </div>
  <div class="feature-card">
    <h4>Treningi poprzez zabawę</h4>
    <p>Zachęcamy dzieci do ruchu poprzez gry i zabawy. Dzięki swojej różnorodności lekkoatletyka sprawdza się do tego idealnie. W ten sposób dzieci budują zdrowy tryb życia, jednocześnie dobrze się przy tym bawiąc.</p>
  </div>
</div>

<div class="contact-section">
  <h2 class="contact-header" id="targetElement">Trzy kroki aby dołączyć do Akademi Lekkiej Atletyki!</h2>
  <div class="steps-section">
    <div class="step-card">
      <h4>1. SKONTAKTUJ SIĘ Z NAMI</h4>
      <p>Zadzwoń lub napisz. Jeżeli chcesz, żebyśmy się z tobą skontaktowali, zostaw swój numer lub adres e-mail.</p>
      <div class="contact-info">
        <p><i class="fas fa-phone"></i> 123456789</p>
        <p><i class="fas fa-phone"></i> 123456789</p>
        <p><i class="fas fa-envelope"></i> testgmail.com</p>
      </div>
      <div class="contact-form-section">
        <app-contact-form></app-contact-form>
      </div>
    </div>
    <div class="step-card">
      <h4>2. PRZYJDŹ NA TRENING</h4>
      <p>Przyjdź z dzieckiem na bezpłatny trening próbny. Twoje dziecko będzie miało szansę sprawdzić, czy zajęcia się mu spodobają.</p>
    </div>
    <div class="step-card">
      <h4>3. WYPEŁNIJ DOKUMENTY</h4>
      <p>Po pierwszym treningu trener przekaże Ci dokumenty. Po ich wypełnieniu twoje dziecko stanie się członkiem Akademii Lekkiej Atletyki Wrocław.</p>
    </div>
  </div>
</div>

<div class="location-section">
  <div class="location-header">
    <h2>Lokalizacja</h2>
  </div>
  <p>Treningi odbywają się na bieżni przy Szkole Podstawowej nr 91.</p>
  <p class="street-name"><b>ul. Stefani Sempołowskiej 54</b></p>
  <div class="google-map">
    <iframe width="600" height="450" style="edge:0"load="lazy" allowfullscreen src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJk4cUeQHoD0cRx8d7Ix0Md5I&key=AIzaSyBEWXoAj03am_fiFUN9Qw8bILB8NYD86H8"></iframe>
  </div>
</div>

<div class="footer-section">
  <img class="ala-logo" src="./assets/logo-ala.png">
  <div class="company-info">
    <p>KRS: 123456789</p>
    <p>NIP: 0123456789</p>
  </div>
</div>