    <div class="pricing">
      <div class="plan">
        <h2>Jeden trening w tygodniu</h2>
        <div class="price">125 zł/miesiąc</div>
        <ul class="features">
          <li><i class="fas fa-check-circle"></i> Opieka profesjonalnego trenera</li>
          <li><i class="fas fa-check-circle"></i> Infrastruktura oraz sprzęt treningowy</li>
          <li><i class="fas fa-check-circle"></i> Godzinne zajęcia grupowe raz w tygodniu</li>
          <li><i class="fas fa-check-circle"></i> Koszulka Akademii ALA Wrocław</li>
          <li><i class="fas fa-check-circle"></i> Ubezpieczenie NNW</li>
        </ul>
        <button>Zapisz</button>
      </div>
      <div class="plan popular">
        <span>Najpopularniejsze</span>
        <h2>Dwa treningi w tygodniu</h2>
        <div class="price">185 zł/miesiąc</div>
        <ul class="features">
          <li><i class="fas fa-check-circle"></i> Opieka profesjonalnego trenera</li>
          <li><i class="fas fa-check-circle"></i> Infrastruktura oraz sprzęt treningowy</li>
          <li><i class="fas fa-check-circle"></i> Godzinne zajęcia grupowe dwa razy w tygodniu</li>
          <li><i class="fas fa-check-circle"></i> Koszulka Akademii ALA Wrocław</li>
          <li><i class="fas fa-check-circle"></i> Ubezpieczenie NNW</li>
          <li><i class="fas fa-check-circle"></i> Regularne pomiary oraz śledzenie postępów</li>
        </ul>
        <button>Zapisz</button>
      </div>
      <div class="plan">
        <h2>Treningi indywidualne</h2>
        <div class="price">Indywidualna wycena</div>
        <ul class="features">
          <li><i class="fas fa-check-circle"></i> Opieka profesjonalnego trenera</li>
          <li><i class="fas fa-check-circle"></i> Infrastruktura oraz sprzęt treningowy</li>
          <li><i class="fas fa-check-circle"></i> Koszulka Akademii ALA Wrocław</li>
          <li><i class="fas fa-check-circle"></i> Ubezpieczenie NNW</li>
          <li><i class="fas fa-check-circle"></i> Regularne pomiary oraz śledzenie postępów</li>
        </ul>
        <button>Skontaktuj się</button>
      </div>
    </div>