    <div class="pricing">
      <div class="pricing-header">
        <h2>Cennik</h2>
      </div>
      <div class="pricing-content">
        <div class="plan">
          <h4>Jeden trening w tygodniu</h4>
          <div class="price">125 zł/miesiąc</div>
          <ul class="features">
            <li><i class="fas fa-check-circle"></i> Opieka profesjonalnego trenera</li>
            <li><i class="fas fa-check-circle"></i> Infrastruktura oraz sprzęt treningowy</li>
            <li><i class="fas fa-check-circle"></i> Godzinne zajęcia grupowe raz w tygodniu</li>
            <li><i class="fas fa-check-circle"></i> Koszulka Akademii ALA Wrocław</li>
            <li><i class="fas fa-check-circle"></i> Woda mineralna dla zawodników w czasie zajęć</li>
          </ul>
          <button [routerLink]="['/zapisy']">Wypróbuj</button>
        </div>
        <div class="plan popular">
          <span>Najpopularniejsze</span>
          <h4>Dwa treningi w tygodniu</h4>
          <div class="price">185 zł/miesiąc</div>
          <ul class="features">
            <li><i class="fas fa-check-circle"></i> Opieka profesjonalnego trenera</li>
            <li><i class="fas fa-check-circle"></i> Infrastruktura oraz sprzęt treningowy</li>
            <li><i class="fas fa-check-circle"></i> Godzinne zajęcia grupowe dwa razy w tygodniu</li>
            <li><i class="fas fa-check-circle"></i> Koszulka Akademii ALA Wrocław</li>
            <li><i class="fas fa-check-circle"></i> Regularne pomiary oraz śledzenie postępów</li>
            <li><i class="fas fa-check-circle"></i> Woda mineralna dla zawodników w czasie zajęć</li>
          </ul>
          <button [routerLink]="['/zapisy']">Wypróbuj</button>
        </div>
        <div class="plan">
          <h4>Dwa treningi w tygodniu (dla rodzeństwa)</h4>
          <div class="price">165 zł/miesiąc</div>
          <ul class="features">
            <li><i class="fas fa-check-circle"></i> Opieka profesjonalnego trenera</li>
            <li><i class="fas fa-check-circle"></i> Infrastruktura oraz sprzęt treningowy</li>
            <li><i class="fas fa-check-circle"></i> Godzinne zajęcia grupowe dwa razy w tygodniu</li>
            <li><i class="fas fa-check-circle"></i> Koszulka Akademii ALA Wrocław</li>
            <li><i class="fas fa-check-circle"></i> Regularne pomiary oraz śledzenie postępów</li>
            <li><i class="fas fa-check-circle"></i> Woda mineralna dla zawodników w czasie zajęć</li>
          </ul>
          <button [routerLink]="['/zapisy']">Wypróbuj</button>
        </div>
      </div>
    </div>