<div class="instructors-section">
    <div class="instructors-header">
        <h2>Nasi trenerzy</h2>
    </div>
    <div class="instructors-feature first">
        <div class="feature-image">
            <img class="ala-logo" src="assets/julia-photo.jpeg">
        </div>
        <div class="feature-description">
            <h4>Julia Chromik</h4>
            <p>Julia to certyfikowana instruktorka oraz sędzia lekkiej atletyki, z licencją wydaną przez Polski Związek Lekkiej Atletyki. Posiada wieloletnie doświadczenie w pracy z dziećmi, w ramach różnych aktywności sportowych. Jest multimedalistką Mistrzostw Województwa Śląskiego oraz wielokrotną uczestniczką Mistrzostw Polski w biegach średniodystansowych.</p>
        </div>
    </div>
</div>